<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="container">{{{body}}}</div>
    <div id="initialData" style="display:none">{{initialData}}</div>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>

