<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="container">{{{body}}}</div>
    <script type="text/javascript" src="/lib/require.js"></script>
    <script id="initialData" type="text/template">
    var str = "{{initialData}}"
    </script>
    <script type="text/javascript">
    require.config({
    	baseUrl: 'js',
    	path: {
    		'jquery': '/lib/jquery-2.1.3.min',
    		'react': '/lib/react.min'
    	}
    })
    </script>
  </body>
</html>
